@import "tailwindcss";

@theme {
  --color-brand-blue: #0046BE;
  --color-brand-yellow: #FFF200;
  --color-brand-blue-hover: #0036a3;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  /* Safe interactive highlights on tap for mobile web */
  .tap-highlight-transparent {
    -webkit-tap-highlight-color: transparent;
  }
}

/* Custom transitions and optimization classes for mobile phones */
.ios-scroll-inertia {
  -webkit-overflow-scrolling: touch;
}
